%h1.home
  %span.logo Bukkit

%p Bukkit is a to-do list for Little Printer. 

%p It's ephemeral and forgetful, like the best to-dolists; instead, it's all about getting thoughts from your head to a piece of paper. 

%p It's super simple to use:

%ol.row
  %li.span4 
    %p Subscribe to Bukkit via Bergcloud. 
    %p You'll be asked for your phone number, and reeceive a text message to confirm you own that number.
  %li.span4 
    %p SMS things you want to remember to the Bukkit phone number.
  %li.span4 
    %p Whenever you've scheduled a Bukkit delivery, your Bukkit will be emptied out, and every item you've added since it last printed will appear on your Deliery. First thing in the morning is a good time to empty your Bukkit. 
    %p You won't receive those items again unless you put them back in the Bukkit.

