%h1.logo Bukkit

%p.head When I last looked, your Bukkit contained:

%ul.items
  - for item in @items
    - if item == @items.last
      %li.last= item.content
    - else
      %li= item.content


%p This time tomorrow, your Bukkit will be empty.
%p To add items to it, SMS them to:
%p.number
  %b+#{ENV['TWILIO_NUMBER']}

.bottom-divider
