%h1.logo Bukkit

%p.head At about 8am, your Bukkit contained:

%ul.items
  - for item in @items
    - if item == @items.last
      %li.last= item.content
    - else
      %li= item.content


%p Your Bukkit is now empty. 
%p To add items to it, SMS them to:
%p.number
  %b+#{ENV['TWILIO_NUMBER']}

.bottom-divider
