%h1.logo Bukkit

%p.head Just now, your Bukkit contained:

%ul.items
  - for item in @items
    - if item == @items.last
      %li.last= item.content
    - else
      %li= item.content


%p These items won't be in your bukkit y this time tomorrow.
%p To add items to your Bukkit, SMS them to:
%p.number
  %b+#{ENV['TWILIO_NUMBER']}

.bottom-divider
