%h1 Your Bukkit

%p Your Bukkit was emptied at around 8am, and contained:

%ul.items
  - for item in @items
    %li= item.content


%p Your Bukkit is now empty. To add items to it, SMS them to <b>+#{ENV['TWILIO_NUMBER']}</b>
