body {
  margin: 0;
  padding: 10px 0 0;
  width: 384px;
  font-family: "Museo Slab";
  font-size: 20px;
}

h1 {
  margin: 0;
  text-align: center;
}

p.number {
  text-align: center;
  font-size: 150%;
}

.bottom-divider {
  border-bottom: 1px solid #888;
}

