body {
  margin: 0;
  padding: 10px 0 0;
  width: 384px;
  font-family: "Museo Slab";
  font-size: 20px;
}

h1 {
  margin: 0;
  text-align: center;
  height: 43px;
  padding-top: 14px;
  &.logo {
    background: #{asset_url('header-logo.png',image)} no-repeat 93px 0;
  }
}

p.number {
  text-align: center;
  font-size: 150%;
}

.bottom-divider {
  border-top: 4px solid #000;
  height: 2px;
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
}

ul.items {
  font-size: 120%;
  list-style: none;
  margin: 0;
  padding: 20px 10px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;

  li {
    margin: 0 0 20px;
    padding: 0 0 0 36px;
    background: #{asset_url('tickbox.png',image)} no-repeat 0 50%;

    &.last {
      margin: 0;
    }
  }
}

